.default {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.wait {
    cursor: wait;
}

.text {
    cursor: text;
}

.move {
    cursor: move;
}

.not-allowed {
    cursor: not-allowed;
}

.crosshair {
    cursor: crosshair;
}

.help {
    cursor: help;
}

.progress {
    cursor: progress;
}

.cell {
    cursor: cell;
}

.alias {
    cursor: alias;
}

.copy {
    cursor: copy;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.zoom-in {
    cursor: zoom-in;
}

.zoom-out {
    cursor: zoom-out;
}